<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Kevin Cruz</h1>
		<p>Welcome to my blog</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/Kevin7Christmas">@MackenzieChild</a> or on the web at <a href="http://kevincruz.me">kevincruz.me</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter.</p>
	</div>
</div>
